.pl-marker-icon {
  z-index: 2000 !important;  
  background-color: #ffffff6c !important;
  border: 1px solid #3388ff !important;
  border-radius: 50% !important;
  margin: -8px 0 0 -8px !important;
  width: 14px !important;
  height: 14px !important;
  outline: 0 !important;
  transition: opacity ease 0.3s !important;
}

.pl-marker-icon-non-editable {
  z-index: 0 !important;  
  background-color: transparent;
  border: 1px solid #3388ff;
  border-radius: 50% !important;
  margin: -8px 0 0 -8px !important;
  width: 14px !important;
  height: 14px !important;
  outline: 0 !important;
  transition: opacity ease 0.3s !important;
}

.pl-mid-marker-icon {
  opacity: 0.7 !important;
  margin: -6px 0 0 -6px !important;
  background-color: #ffffff !important;
  border: 1px solid #3388ff !important;
  width: 8px !important;
  height: 8px !important;  
  z-index: 100 !important;  
  border-radius: 0% !important;
}
