.App{
  display: grid;
  grid-template-columns: 250px 100fr;
  grid-template-rows: auto 100fr auto;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  top:0;
  left: 0;
  background-color: transparent;
}

.App > header{
  grid-column: 1 / 3;
  background-color: #ffffff;
  z-index: 1000;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  justify-content: space-between;
  box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

.App > header > .titleVersion{
  display: flex;
  align-items: baseline;
}

.App > header h1{
  margin: 0;
  margin: 0 10px 0 0;
}

.App .Menubar{
  grid-column: 1 /span 1;
  grid-row: 2 / 2;
  background-color: transparent;
  z-index: 50;
}

.App > main{
  background-color: wheat;
  margin: 10px 10px 10px 10px;
  position: relative;
}

.App > footer{
  z-index: 20;
}

.mapContainer{
  position: relative;
}