<!doctype html>
<html>

<head>
    <title>test website please ignore</title>

    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
    
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>
    <script src="static/data.maybe.umd.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
</head>

<body>

    <!-- Make sure you put this AFTER Leaflet's CSS -->

    <div id="app">   
        <p><button v-on:click="saveMission">Save mission</button></p>
        <p>
            {{mode_text}}        
            <button v-on:click="enterAddFlightMode">Add flight</button>
            <button v-on:click="enterEditRouteMode">Edit route</button>  
        </p>
    </div>
    <div v-if="visible" id="add_flight_form">
        <p>Airbase:<v-select :options="airbase"></v-select></p>        
        <p></p>Airframe: <v-select :options="airframe"></v-select></p>
        <p>Number of planes: <input v-model="number"></p>
        <p><button v-on:click="add_flight">Add flight</button></p>
    </div>  
    <div id="mapid"></div>
    <script src="static/milsymbol.js"></script>
    <script src="static/backend_interface.js"></script>
    <script src="static/map.js"></script>
    <script src="static/app.js"></script>


</body>

</html>
