.leaflet-container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  border: 1px solid black;
  border-radius: 0;
}

.leaflet-popup-tip {
  border: 1px solid black;
}
