.Legends {
  position: absolute;
  bottom: 10%;
  right: 3%;
  z-index: 100;  
}

.Legend {
  opacity: 0.75;
}

.Dot {
  height: 8px;
  width: 8px;
  background-color: var(--color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
