.HelpBar { 
  z-index: 20;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.Spacer {
  margin-left: 10px;
}

.HelpBarLink:link, .HelpBarLink:visited {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.HelpBarLink:hover, .HelpBarLink:active {
  color: crimson;
}