.EditWaypointContainer {
  z-index: 200;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px;
}

.EditWaypointContainer h2 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.EditWaypointContainer .WaypointNumber {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, .24);
  padding: 5px;
  width: auto;
}

.EditWaypointContainer .WaypointNumber p {
  margin: 0;
}

.EditWaypointContainer .WaypointAltitude {
  margin: 5px 0 0 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, .24);
}

.EditWaypointContainer .WaypointAltitudeTitle {
  color: rgba(0, 0, 0, .90);
  display: block;
  font-size: 1rem;
}

.EditWaypointContainer .Toggle {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.EditWaypointContainer .Toggle .MuiFormControlLabel-root {
  margin: 0;
}

.EditWaypointContainer button {
  margin: 5px 0 0 0;
  background-color: rgba(49, 107, 170, 0);
  border: 1px solid rgba(49, 107, 170, 0.8);
  color: rgba(49, 107, 170, 0.8);
  padding: 5px;
  width: 100%;
  transition: 0.3s all ease;
}

.EditWaypointContainer button:hover,
.EditWaypointContainer button:active {
  background-color: rgba(49, 107, 170, 0.8);
  color: #ffffff;
}

.EditWaypointContainer input[type="text"] {
  border-width: 0 0 1px 0;
  border-color: rgba(0, 0, 0, 0);
  padding: 3px 3px 0px 3px;
  outline: none;
  transition: 0.3s all ease;
  border-color: rgba(49, 107, 170, 0.2);
  box-sizing: border-box;
  width: 100%;
}

.EditWaypointContainer input[type="text"]:focus-within,
.EditWaypointContainer input[type="text"]:focus {
  border-color: rgba(49, 107, 170, 0.8);
}

.EditWaypointContainer .fieldContainer {
  margin: 5px 0 0 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, .24);
  display: flex;
  flex-flow: column nowrap;
}
