.Pylon
{
  /*float:left;*/  
}

.pylonContainer {

}

.LoadoutEditor{
  width: 80vw;
  position: fixed;
  left: 10vw;
  top: 10vw;
  z-index: 500;
  background-color: #ffffff;
  box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  padding: 10px;
}

.LoadoutEditor .sliderContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
}

.LoadoutEditor .pylonContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
